body{
    background-color: #fffff0;
}
.container-1, .container-2, .container-3, .container-4, .container-5{
    border: 1px solid black;
    width: 75%;
    margin: 10 auto;
    text-align: center;
    border-radius: 20px;
}
.container-1:hover, .container-2:hover, .container-3:hover, .container-4:hover, .container-5:hover{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 1) !important;
}

.flex-box-container-1, .flex-box-container-2, .flex-box-rps , .flex-box-pick-color,
 .flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background: url("https://t3.ftcdn.net/jpg/03/25/38/64/360_F_325386410_7XLHgFBmPH10k0GCUXbikWCAeFFC8145.jpg") center;
    color: #ffffff;
}
.flex-blackjack-row-1 div{
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}
.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;

}
.flex-blackjack-row-2 button{
    border: 1px solid black;
    padding: 10px;
}
.flex-blackjack-row-2 div{
    border: 1px solid black;
    padding: 10px;
}
table, td, th{
    padding: 5px;
    border: 1px solid black;
}


.flex-box-container-1 div {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.flex-box-container-2 img{
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}